html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


ul{
  padding:0;
}
.card {
  margin-bottom: 20px;
  
}

.englishMenu{
  padding:0;
  margin:0;
}
.img-fluid{
  margin:5px;
  margin-right:1px;
}
.romanianMenu{
  padding:0;
  margin:0;
}