// contains theme specific colors

$themes: (
  light: (
    color-background: #f7f8fd,
    color-text: #63747a,
    color-navigation: #146077,
    color-button: rgb(143, 99, 41),
  ),
  dark: (
    color-background: #00aaff,
    color-text: #212121,
    color-navigation: #156179,
    color-button: blue,
  ),
);
